@import url('https://fonts.cdnfonts.com/css/vocaloid');
body{
    background-color: #fff8fa;
    cursor: url(/commons/images/cursor.png), auto;
}

.miku-font{
    color: #916DB3;
    font-family: 'Vocaloid', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    pointer-events: none;
}

.miku-text{
    text-transform: none;
}

.banner-miku{
    width: 100vw;
    height: 20vh;
}
.miku-figure{
    width: 100vw;
    height: 65vh;
    background-image: url(./commons/images/img-001.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

input{
    background-color: #FCBAAD;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    height: 40px;
    width: 150px;
    cursor: url(/commons/images/cursor.png), pointer;
    font-family: sans-serif;
    margin: 20px;
}

input:hover{
    background-color: #E48586;
    color: #916DB3;
    
}